<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <h1 class="text-center mb-5">Об авторе</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="{% static 'img/m_leonka.jpg' %}" alt="Фото автора" class="img-fluid mb-4">
      <p><strong>Имя:</strong> Калинин Артём </p>
      <p><strong>Город:</strong> п.Пионерский, Россия</p>
      <p><strong>GitHub:</strong> <a href="https://github.com/ArtemNikolaich">ArtemNikolaich</a></p>
      <p><strong>Резюме:</strong> <a href=""></a></p>
      <p><strong>Другие ресурсы:</strong> <a href=""></a></p>
    </div>
    <div class="col-md-6">
      <p>Являюсь начинающим программистом. Программированием начал заниматься совсем недавно. До изучения языка программирования Python, прошёл курс "Тестировщик программного обеспечения" в ТГУ. Стараюсь постоянно развиваться и углублять свои знания в области программирования и тестирования по.</p>
      <p>Моим главным источником вдохновения являются ребята, которые смогли поменять свою жизнь координально, запрыгнув в совершенно новую и не знакомую им сферу. Смогли они, смогу и я!!!</p>
      <p>В свободное время стараюсь почитать и посмотреть больше информации, которая поможет мне в изучении программирования.</p>
      <p>На фото кот - Лео (Леопольд). Он особо не помогает, в основном отвлекает!!! Любит покусаться и погрызть провода!</p>
    </div>
  </div>
</div>
{% endblock %}