{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Технологии</h1>
      <p>Для создания этого сайта я использовал следующие технологии:</p>
      <ul>
        <li>HTML5</li>
        <li>CSS</li>
        <li>Python 3</li>
        <li>Django</li>
        <li>Bootstrap</li>
        <li>Git и GitHub</li>
        <li>Работа с шаблонами Django</li>
      </ul>
      <p>В целом, я считаю, что проект интересный и позволяет мне расширить мои знания и навыки в веб-разработке.</p>
    </div>
  </div>
</div>
{% endblock %}